<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <!-- IoC DI 注解解析器  配置扫描控制器  说人话,让 Spring 帮我们创建控制器对象, 并注入 -->
    <context:component-scan base-package="cn.linstudy"/>
    <!-- 配置 MVC 注解解析器, 时间注解, JSON 注解 -->
    <mvc:annotation-driven/>
    <mvc:default-servlet-handler/>
    <mvc:interceptors>
        <mvc:interceptor>
<!--            静态资源和动态资源同时拦截-->
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/getImage"/>
            <mvc:exclude-mapping path="/empLogin"/>
            <mvc:exclude-mapping path="/getEmailCode"/>
            <mvc:exclude-mapping path="/checkEmail"/>
            <mvc:exclude-mapping path="/checkUsername"/>
            <mvc:exclude-mapping path="/error"/>
          <mvc:exclude-mapping path="/checkEmailIsHave"/>
          <mvc:exclude-mapping path="/exam/**"/>
          <mvc:exclude-mapping path="/question/**"/>
            <bean class="cn.linstudy.interceptor.CheckLoginInterceptor"/>

        </mvc:interceptor>
        <mvc:interceptor>
          <mvc:mapping path="/**"/>
          <mvc:exclude-mapping path="/getImage"/>
          <mvc:exclude-mapping path="/empLogin"/>
          <mvc:exclude-mapping path="/getEmailCode"/>
          <mvc:exclude-mapping path="/checkEmail"/>
          <mvc:exclude-mapping path="/checkUsername"/>
          <mvc:exclude-mapping path="/error"/>
          <mvc:exclude-mapping path="/checkEmailIsHave"/>
          <mvc:exclude-mapping path="/exam/**"/>
          <mvc:exclude-mapping path="/question/**"/>
          <bean class="cn.linstudy.interceptor.CheckPermissionInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
    <mvc:default-servlet-handler/>
    <!-- 注册 FreeMarker 配置类 -->
    <bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <!-- 配置 FreeMarker 的文件编码 -->
        <property name="defaultEncoding" value="UTF-8" />
        <!-- 配置 FreeMarker 寻找模板的路径 -->
        <property name="templateLoaderPath" value="/WEB-INF/views/" />
        <property name="freemarkerSettings">
            <props>
                <!-- 兼容模式 ，配了后不需要另外处理空值问题，时间格式除外 -->
                <prop key="classic_compatible">true</prop>
                <!-- 数字格式化 , 不会有,字符串的 -->
                <prop key="number_format">0.##</prop>
            </props>
        </property>
    </bean>

    <!-- 注册 FreeMarker 视图解析器 -->
    <bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <!-- 是否把session中的attribute复制到模板的属性集中，可以使用FreeMarker的表达式来访问并显示-->
        <property name="exposeSessionAttributes" value="true" />
        <!-- 配置逻辑视图自动添加的后缀名 -->
        <property name="suffix" value=".ftl" />
        <!-- 配置响应头中 Content-Type 的指 -->
        <property name="contentType" value="text/html;charset=UTF-8" />
    </bean>
  <!--文件上传解析器 id必须是multipartResolver-->
  <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    <!--最大上传文件大小10M-->
    <property name="maxUploadSize" value="#{1024*1024*10}"/>
  </bean>
    <!-- 引入 spring.xml -->
    <import resource="classpath:spring.xml"/>
</beans>