<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.linstudy.mapper.ConsumptionReportMapper">

    <select id="query" resultType="java.util.Map">
  SELECT
     ${groupBy} as groupByName,
      count(*) as count,
      sum(consumption.total_amount) as totalAmount,
      sum(consumption.discount_amount) as totalDiscountAmount,
      sum(consumption.pay_amount) as totalPayAmount
    FROM
      consumption
        JOIN business ON (
        consumption.business_id = business.id
        )
    where consumption.`status`>0
    <if test="businessId!=null">
        and consumption.business_id = #{businessId}
    </if>
    <if test="startDate!=null">
        and consumption.pay_time >= #{startDate}
    </if>
   <if test="endDate!=null">
      and consumption.pay_time &lt;= #{endDate}
   </if>
    <if test="typeId!=null and typeId==1">
        and consumption.appointment_ano is not null
    </if>
      <if test="typeId!=null and typeId==0">
          and consumption.appointment_ano is null
      </if>
    GROUP BY ${groupBy}
    </select>
</mapper>