<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linstudy.mapper.ConsumptionItemMapper">
  <resultMap id="BaseResultMap" type="cn.linstudy.domain.ConsumptionItem">
    <!--@Table consumption_item-->
    <id column="id" property="id" />
    <result column="amount" property="amount" />
    <result column="pay_amount" property="payAmount" />
    <result column="discount_amount" property="discountAmount" />
    <result column="create_time" property="createTime" />
    <result column="cno" property="cno" />
    <association property="category" javaType="cn.linstudy.domain.SystemDictionaryItem">
      <result column="sdi_title" property="title"/>
    </association>
    <association property="categoryItem" javaType="cn.linstudy.domain.SystemDictionaryItem">
      <result column="sdi2_title" property="title"/>
    </association>
    <association property="payType" javaType="cn.linstudy.domain.SystemDictionaryItem">
      <result column="sdi3_title" property="title"/>
    </association>
    <association property="createUser" javaType="cn.linstudy.domain.Employee">
      <result column="create_user_id" property="id"/>
    </association>

  </resultMap>
  <sql id="Base_Column_List">
    id, category_id, category_item_id, pay_type_id, amount, pay_amount, discount_amount, 
    create_user_id, create_time, cno
  </sql>

  <select id="selectByConsumptionId" resultMap="BaseResultMap">
    SELECT
      c.id,
      c.category_id,
      c.category_item_id,
      c.pay_type_id,
      c.amount,
      c.pay_amount,
      c.discount_amount,
      c.create_user_id,
      c.create_time,
      c.cno,
      sdi.title sdi_title,
      sdi2.title sdi2_title,
      sdi3.title sdi3_title
    FROM
      consumption_item c
        LEFT JOIN system_dictionary_item sdi on c.category_id = sdi.id
        LEFT JOIN system_dictionary_item sdi2 on c.category_item_id = sdi2.id
        LEFT JOIN system_dictionary_item sdi3 on c.pay_type_id = sdi3.id
    WHERE
      cno = #{consumptionId}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from consumption_item
  </select>

  <insert id="insert">
     insert into consumption_item (category_id, category_item_id, pay_type_id, amount, pay_amount,
      discount_amount, create_user_id, create_time, cno)
    values (#{category.id}, #{categoryItem.id}, #{payType.id}, #{amount}, #{payAmount},
      #{discountAmount}, #{createUser}, #{createTime}, #{cno})
  </insert>

<update id="update" >
    update consumption_item
    <set>
     <if test="category != null">
      <if test="category.id != null">
        category_id = #{category.id},
      </if>
     </if>
      <if test="categoryItem != null">
      <if test="categoryItem.id != null">
        category_item_id = #{categoryItem},
      </if>
      </if>
      <if test="payType != null">
      <if test="payType.id != null">
        pay_type_id = #{payType},
      </if>
      </if>
      <if test="amount != null">
        amount = #{amount},
      </if>
      <if test="payAmount != null">
        pay_amount = #{payAmount},
      </if>
      <if test="discountAmount != null">
        discount_amount = #{discountAmount},
      </if>
      <if test="createUser != null">
      <if test="createUser.id != null">
        create_user_id = #{createUser},
      </if>
      </if>
      <if test="createTime != null">
        create_time = #{createTime},
      </if>
      <if test="cno != null">
        cno = #{cno},
      </if>
    </set>
    where id = #{id}
  </update>

  <delete id="batchDelete" >
    delete from consumption_item where id in
    <foreach collection="ids" item="id" open="(" separator="," close=")">
        #{id}
    </foreach>
  </delete>
</mapper>